@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    direction: rtl;
}
/** start fonts */
@font-face {
    font-family: vazir;
    src:
        url(/fonts/Vazir.ttf) format(truetype),
        url(/fonts/Vazir.eot) format(opentype),
        url(/fonts/Vazir.woff) format(woff);
}
@font-face {
    font-family: vazir-bold;
    src:
        url(/fonts/Vazir-Bold.ttf) format(truetype),
        url(/fonts/Vazir-Bold.eot) format(opentype),
        url(/fonts/Vazir-Bold.woff) format(woff);
}
@font-face {
    font-family: vazir-light;
    src:
        url(/fonts/Vazir-Light.ttf) format(truetype),
        url(/fonts/Vazir-Light.eot) format(opentype),
        url(/fonts/Vazir-Light.woff) format(woff);
}
@font-face {
    font-family: vazir-medium;
    src:
        url(/fonts/Vazir-Medium.ttf) format(truetype),
        url(/fonts/Vazir-Medium.eot) format(opentype),
        url(/fonts/Vazir-Medium.woff) format(woff);
}
@font-face {
    font-family: vazir-thin;
    src:
        url(/fonts/Vazir-Thin.ttf) format(truetype),
        url(/fonts/Vazir-Thin.eot) format(opentype),
        url(/fonts/Vazir-Thin.woff) format(woff);
}
/** finish fonts */
/** start Menu Button */
.btn-menu {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    position: relative;
}
.btn-menu span {
    position: absolute;
    top: 1.6em;
    left: 0.5em;
    background-color: white;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Opera, Chrome, and Safari */
}
.btn-menu span:before {
    position: absolute;
    top: -0.6em;
    left: 0;
    /* height: 3.5px !important; */
    content: ' ';
    background-color: white;
}
.btn-menu span:after {
    position: absolute;
    top: 0.6em;
    left: 0;
    content: ' ';
    background-color: white;
}
.close span {
    position: absolute;
    left: -5.5em;
    top: 1em;
    background: none;
}
.close span:after {
    position: absolute;
    left: 6em;
    top: 0.6em;
    /* height: 3px !important; */
    background-color: white;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.close span:before {
    display: block;
    position: absolute;
    background-color: white;
    top: 0.6em;
    left: 6em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.btn-menu span, .btn-menu span:before, .btn-menu span:after, .close span, .close span:before, .close span:after {
    width: 35px;
    height: 3px;
    border-radius: 0.2em;
    -moz-transition: all .5s cubic-bezier(0.5, -0.6, 0.19, 1);
    -o-transition: all .5s cubic-bezier(0.5, -0.6, 0.19, 1);
    -webkit-transition: all .5s cubic-bezier(0.5, -0.6, 0.19, 1);
    transition: all .5s cubic-bezier(0.5, -0.6, 0.19, 1);
}
/** finish Menu Button */
/** start helper classes */
.btn-purple {
    @apply bg-mainPurple text-white p-4 font-bold text-lg rounded-md duration-150 hover:bg-white hover:text-mainPurple
}
/** finish helper classes */
/** start aparat classes */
.h_iframe-aparat_embed_frame {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    height: 100%;
}
.h_iframe-aparat_embed_frame .ratio {
    display: block;
    width: 100%;
    height: auto;
}
.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/** finish aparat classes */